body{
  background-image: url('../img/pattern.jpg');
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.logo{
  content:url('../img/logo.png')
}

header{
  overflow: hidden;
  position: fixed;
  width: 100%;
  top: 0;
  vertical-align: middle;
  background-color:white;
}

header img{
  float: left;
  position: relative;
}

header nav{
  float: right;
  position: relative;
}

.navbar{
  overflow: hidden;
  top: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: grey;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover {
background: #ddd;
color: black;
}

header nav ul a{
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  position: relative;
}

section {
  margin-left: 200px;
  margin-right: 200px;
  background-color: white;
  position: relative;
  top: 70px;
  padding: 20px;
  margin-bottom: 100px;
}


form{
    text-align:center; 
    margin-left:auto; 
    margin-right:auto; 
    width:100%;
}

.action-col{
  text-align: center;
}

.label-left{
  float: left;
}

.label-right{
  float: right;
}

.align-left{
  text-align: left;
}

.label{
  font-weight: bold;
}

button{
  border-radius: 10px;
  cursor: pointer;
}

button.form{
  float: right;
}

input[type='text']{
  width: 70%;
}

input[type='number']{
  width: 70%;
}

.title{
  text-align: center;
}

footer {
  display: flex;
  position: relative;
  width: 100%;
  bottom: 0px;
  right: 0px;
  left: 0px;
  background-color: black;
  color: white;
  height: 50px;
  justify-content: center;
  align-items: center;
}

h1{
  text-align: center;
  font-size: 2em;
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
  width: 80%;
  
}

label{
  font-weight: bold;
  margin-right: 10px;
}
 


